<section class="padding clients">
    <div class="container">
        <div class="row">
            <p class="text-right col-sm-3 col-6">بحث (بالاسم او رقم التليفون): </p>
            <input type="text" class="form-control col-sm-3 col-6"
                   [(ngModel)]="filteredText" />
        </div>
        <div class="row">
                <button class="btn btn-primary" (click)="allClients()">الكل</button>
                <button class="btn btn-danger" (click)="onTrash()">المحذوفين</button>
            </div>
        <div class="table-responsive">
            <table class="table">
                <thead class="">
                    <tr>
                        <th>اسم الشركة</th>
                        <th>التليفون</th>
                        <th>نوع النشاط</th>
                        <th>التقييم العام</th>
                        <th>الزيارة</th>
                        <th>التاريخ</th>
                        <th>التفاصيل</th>
                        <th>اعدادات</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let client of clients | clientFilter:filteredText" >
                        <td>{{client.name}}</td>
                        <td>{{client.phone}}</td>
                        <td>{{client.type}}</td>
                        <td>{{client.rate}}</td>
                        <td *ngIf="client.visit"> 
                            <img src="../../mandobi/assets/images/true.png" alt="logo" class="img-fluid">
                        </td>
                        <td *ngIf="!client.visit">
                            <img src="../../mandobi/assets/images/false.png" alt="logo" class="img-fluid">
                        </td>
                        <td>
                            {{client.date}}
                        </td>
                        <td>
                            <button class="btn btn-info" 
                            (click)="onSelect(client)"
                            [routerLink]="['/clientdetails', client.id]"
                            >عرض التقرير</button>
                        </td>
                        <td>
                            <button class="btn btn-danger" 
                            (click)="onDelete(client.id)"  
                            >DELETE</button>
                            <button class="btn btn-primary" 
                            [routerLink]="['/editClient', client.id, client.type]">
                            EDIT</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <div class="print text-center">
                <a style="color: #fff !important;" class="print-btn btn btn-primary"
                title="print button" onclick="window.print();" target="_blank">
                     طباعة 
                  </a>
            </div>
      </div>
</section>