<section class="editClient">
  <div class="container">
    <div *ngIf="client">
          <form *ngIf="companyType === 'مزرعة'" [formGroup]="ranchForm"
          (ngSubmit)="onSubmit()">
                <h2 class="text-center">تسجيل بيانات مزرعة</h2>
              <div class="form-group">
              <label class="col-md-2 text-right" for="company Name">اسم الشركة:</label>
              <div class="col-md-10">
              
                  <input type="text" formControlName="name"
                  class="form-control">
              </div>
              </div>
              <div class="form-group">
                  <label class="col-md-2 text-right" for="phone">التليفون:</label>
                  <div class="col-md-10">
                      <input type="number" formControlName="phone" class="form-control">
                  </div>
              </div>
          
              <div class="form-group">
                <label class="col-md-2 text-right" for="area">المنطقة:</label>
                <select formControlName="areaId" class="form-control col-md-10">
                    <option *ngFor="let area of areas" value="{{area.id}}">{{area.name}}</option>
                    
                </select>
              </div>
              <div class="form-group">
                  <label class="col-md-2 text-right" for="manager">المدير:</label>
                  <div class="col-md-10">
                      <input type="text" formControlName="manager" class="form-control">
                  </div>
              </div>

              <div class="form-group">
                <label class="col-md-2 text-right" for="Number">عدد الحيوانات:</label>
                <div class="col-md-10">
                    <input type="text" formControlName="number" class="form-control">
                  </div>
              </div>

              <div class="form-group">
                  <label class="col-md-2 text-right" for="kind">نوع الحيوانات:</label>
                  <div class="col-md-10">
                      <input type="text" formControlName="kind" class="form-control">
                    </div>
              </div>

              <div class="form-group">
                  <label class="col-md-2 text-right" for="age">متوسط اعمار الحيوانات: </label>
                  <div class="col-md-10">
                      <input type="text" formControlName="age" class="form-control" placeholder="من:الى">
                    </div>
              </div>

              <div class="form-group">
                  <label class="col-md-2 text-right" for="weight">متوسط اوزان الحيوانات: </label>
                  <div class="col-md-10">
                      <input type="text" formControlName="weight" class="form-control" placeholder="من:الى">
                    </div>
              </div>

                <div class="form-group">
                  <label class="col-md-2 text-right" for="production">انتاجية المزرعة:</label>
                  <select formControlName="production"
                    class="form-control col-md-10">
                      <option value="0">حلاب </option>
                      <option value="1">تسمين</option>
                  </select>        
                </div>

                <div class="form-group">
                    <label class="col-md-2 text-right" for="trash">هل تريد حذف العميل:</label>
                    <select formControlName="trash" class="form-control col-md-10">
                        <option  value="0">لا</option>
                        <option value="1">نعم</option>
                    </select>
                  </div>

                <div class="form-group text-center">
                    <input type="submit" class="text-center btn btn-primary" name="submit" value="حفظ" />
                </div>
        </form>

        <!-- factory form -->
         <form *ngIf="companyType === 'مصنع'" [formGroup]="factoryForm" 
         (ngSubmit)="onSubmit()" >
            <div class="form-group">
                <h2 class="text-center">تسجيل بيانات مصنع</h2>
                <label class="col-md-2 text-right" for="company Name">اسم الشركة:</label>
                <div class="col-md-10">
                    <input type="text" formControlName="name" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 text-right" for="phone">التليفون:</label>
                <div class="col-md-10">
                    <input type="number" formControlName="phone" class="form-control">
                </div>
            </div>
            
            <div class="form-group">
              <label class="col-md-2 text-right" for="area">المنطقة:</label>
              <select formControlName="areaId" class="form-control col-md-10">
                  <option *ngFor="let area of areas" value="{{area.id}}">{{area.name}}</option>
                  
              </select>
          </div>
            <div class="form-group">
                <label class="col-md-2 text-right" for="manager">المدير:</label>
                <div class="col-md-10">
                    <input type="text" formControlName="manager" class="form-control">
                </div>
            </div>

            <div class="form-group">
              <label class="col-md-2 text-right" for="kind">نوع الانتاج:</label>
              <div class="col-md-10">
                  <input type="text" formControlName="kind" class="form-control">
                </div>
          </div>

          <div class="form-group">
              <label class="col-md-2 text-right" for="capacity">الطاقة الانتاجية\السنة: </label>
              <div class="col-md-10">
                  <input type="text" formControlName="capacity"
                    class="form-control" placeholder="من:الى" >
                </div>
          </div>

          <div class="form-group">
              <label class="col-md-2 text-right" for="mentor">المشرف على المصنع: </label>
              <div class="col-md-10">
                  <input type="text" formControlName="mentor" class="form-control">
                </div>
          </div>
        
          <div class="form-group">
            <label class="col-md-2 text-right" for="trash">هل تريد حذف العميل:</label>
            <select formControlName="trash" class="form-control col-md-10">
                <option  value="0">لا</option>
                <option value="1">نعم</option>
            </select>
          </div>

          <div class="form-group text-center">
                <input type="submit" class="text-center btn btn-primary" name="submit" value="حفظ" />
            </div>
        </form>

        <!-- showRoom form -->
        <form class="" [formGroup]="showRoomForm"
         (ngSubmit)="onSubmit()" *ngIf="companyType === 'معرض'">
                <div class="form-group">
                    <h2 class="text-center">تسجيل بيانات المعرض</h2>
                    <label class="col-md-2 text-right" for="company Name">اسم الشركة:</label>
                    <div class="col-md-10">
                        <input type="text" formControlName="name" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 text-right" for="phone">التليفون:</label>
                    <div class="col-md-10">
                        <input type="number" formControlName="phone" class="form-control">
                    </div>
                </div>
                
                <div class="form-group">
                  <label class="col-md-2 text-right" for="area">المنطقة:</label>
                  <select formControlName="areaId" class="form-control col-md-10">
                      <option *ngFor="let area of areas" value="{{area.id}}">{{area.name}}</option>
                      
                  </select>
              </div>
                <div class="form-group">
                    <label class="col-md-2 text-right" for="manager">المدير:</label>
                    <div class="col-md-10">
                        <input type="text" formControlName="manager" class="form-control">
                    </div>
                </div>
        
                <div class="form-group">
                  <label class="col-md-2 text-right" for="kind">الوصف (اى معلومة اضافية):</label>
                  <div class="col-md-10">
                      <input type="text" formControlName="desc" class="form-control">
                    </div>
              </div>
        
              <div class="form-group">
                <label class="col-md-2 text-right" for="trash">هل تريد حذف العميل:</label>
                <select formControlName="trash" class="form-control col-md-10">
                    <option  value="0">لا</option>
                    <option value="1">نعم</option>
                </select>
              </div>

              <div class="form-group text-center">
                    <input type="submit" class="text-center btn btn-primary" name="submit" value="حفظ" />
                </div>
        </form>

        <!-- doctor form -->
        <form class="" [formGroup]="doctorForm" 
        (ngSubmit)="onSubmit()" *ngIf="companyType === 'دكتور'">
                <div class="form-group">
                    <h2 class="text-center">تسجيل بيانات الدكتور</h2>
                    <label class="col-md-2 text-right" for="company Name">اسم الشركة:</label>
                    <div class="col-md-10">
                        <input type="text" formControlName="name" class="form-control">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 text-right" for="phone">التليفون:</label>
                    <div class="col-md-10">
                        <input type="number" formControlName="phone" class="form-control">
                    </div>
                </div>
                
                <div class="form-group">
                  <label class="col-md-2 text-right" for="area">المنطقة:</label>
                  <select formControlName="areaId" class="form-control col-md-10">
                      <option *ngFor="let area of areas" value="{{area.id}}">{{area.name}}</option>
                      
                  </select>
              </div>
                <div class="form-group">
                    <label class="col-md-2 text-right" for="manager">المدير:</label>
                    <div class="col-md-10">
                        <input type="text" formControlName="manager" class="form-control">
                    </div>
                </div>
        
                <div class="form-group">
                  <label class="col-md-2 text-right" for="specialization">التخصص:</label>
                  <div class="col-md-10">
                      <input type="text" formControlName="specialization" class="form-control">
                    </div>
              </div>
        
              <div class="form-group">
                <label class="col-md-2 text-right" for="trash">هل تريد حذف العميل:</label>
                <select formControlName="trash" class="form-control col-md-10">
                    <option  value="0">لا</option>
                    <option value="1">نعم</option>
                </select>
              </div>

              <div class="form-group text-center">
                    <input type="submit" class="text-center btn btn-primary" name="submit" value="حفظ" />
                </div>
        </form>
     </div>
  </div>
</section>