<section class="addClient padding"> 
     <div class="container">
           <form class="">
            <div class="form-group">
                <label class="col-md-2 text-right" for="usr">اسم الشركة:</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="usr">
                 </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 text-right" for="usr">التليفون:</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="usr">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 text-right" for="usr">نوع النشاط:</label>
                <div class="col-md-10">
                    <div class="form-check-inline">
                        <label class="form-check-label text-right">
                            <input type="radio" class="form-check-input" name="optradio">مصنع
                        </label>
                    </div>
                    <div class="form-check-inline">
                        <label class="form-check-label text-right">
                            <input type="radio" class="form-check-input" name="optradio">مزرعة
                        </label>
                    </div>
                    <div class="form-check-inline disabled">
                        <label class="form-check-label text-right">
                            <input type="radio" class="form-check-input" name="optradio" >معرض 
                        </label>
                    </div>
                 </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 text-right" for="usr">المنطقة:</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="usr">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 text-right" for="usr">اضافة صوره:</label>
                <div class="col-md-10">
                    <input type="file" class="form-control" id="usr">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-2 text-right" for="usr">المدير:</label>
                <div class="col-md-10">
                    <input type="text" class="form-control" id="usr">
                </div>
            </div>
            <div class="form-group text-center">
                <input type="text" class="text-center btn btn-primary" name="submit" value="حفظ" />
            </div>
    </form>
    </div>
</section>