<section class="padding employeeDetails">
    <div class="container">

        <div class="row " *ngIf="employee">
            <div class="col-sm-8">
                <p><strong>الاسم: </strong> {{employee.name}}</p>
                <p><strong>التليفون: </strong> {{employee.phone}}</p>
                <p><strong>المنطقة: </strong> {{employee.area}}</p>
                <p><strong>مدير المنطقة: </strong> {{employee.moderator}}</p>

                <h2 class="text-center">الزيارات</h2>
                <div class="row search-form">
                    <p class="text-right col-3">البحث باسم الشركة: </p>
                    <input type="text" class="form-control col-4" style="width: 300px;"
                           [(ngModel)]="filterText" />
                </div>

                <table class="table">
                    <thead class="">
                        <tr>
                            <th>اسم الشركه</th>
                            <th>التاريخ</th>
                            <th>الوقت</th>
                            <th>التعليق</th>
                            <th>التقييم</th>
                            <th>الموقع</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="comments" *ngFor="let comment of employee.comments | employeeDetails:filterText">
                            <td>{{comment.company}}</td>
                            <td>{{comment.date}}</td>
                            <td>{{comment.time}}</td>
                            <td>{{comment.comment}}</td>
                            <td>{{comment.rate}}</td>
                            <td><a href={{comment.location}} target="_blank">الموقع على الخريطه</a>
                                   </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4 text-center">
                <img class="mr-auto" src={{employee.image}} />
            </div>
        </div>
    </div>
</section>