.login {
    background-color: #ffffff;
    margin-top: 50px;
}
row, input, span, p, form label {
    text-align: right;
}
input {
    margin-bottom: 25px;
}
.btn {
    text-align: center;
    display: block !important;
    margin: 0 auto;
}