<section class="padding employees">
    <div class="container">
         <div class="row">
            <p class="text-right  col-sm-3 col-6">بحث (بالاسم او رقم التليفون): </p>
            <input type="text" class="form-control col-sm-3 col-6"  style="width: 300px;"
                    [(ngModel)]="filterText" />
        </div>
        <div class="row">
            <button class="btn btn-primary" (click)="allEmployees()">الكل</button>
            <button class="btn btn-danger" (click)="onTrash()">المحذوفين</button>
        </div>
        <div class="table-responsive">
            <table class="table">
                <thead class="">
                    <tr>
                        <th>الموظفين </th>
                        <th>تليفون</th>
                        <th>منطقه</th>
                        <th>التفاصيل</th>
                        <th>اعدادات</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees | filter:filterText"
                        >
                        <td>{{employee.name}}</td>
                        <td>{{employee.phone}}</td>
                        <td>{{employee.area}}</td>
                        <td>
                            <button class="btn btn-info" 
                            [routerLink]="['/employeedetails', employee.id]"
                            (click)="onSelect(employee)">عرض التقرير</button>
                        </td>
                        <td>
                            <button class="btn btn-danger"  
                            (click)="onDelete(employee.id)">DELETE</button>
                            <button class="btn btn-primary" 
                            [routerLink]="['/editEmployee', employee.id]">EDIT</button>
                            <button class="btn btn-primary" 
                            [routerLink]="['/employeeProduct', employee.id]">Products</button>
                            <button class="btn btn-primary" 
                            [routerLink]="['/rate', employee.id]">rate</button>
                            <button class="btn btn-primary" 
                            [routerLink]="['/road', employee.id]">road map</button>
                            <button class="btn btn-primary" 
                            [routerLink]="['/target', employee.id]">Target</button>
                            <button class="btn btn-primary" 
                            [routerLink]="['/addTarget', employee.id]">Add Target</button>
                  
                           
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="print text-center">
                <a style="color: #fff !important;" class="print-btn btn btn-primary"
                title="print button" onclick="window.print();" target="_blank">
                     طباعة 
                  </a>
            </div>
    </div>
</section>