<section class="areas padding">
    <div class="container">
         <table class="table text-right">
        <thead class="">
            <tr>
                <th> المناطق </th>
                <th> الاعدادات </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let area of areas">
                <td>{{area.name}}</td>
                <td>
                    <button class="btn btn-danger" 
                    (click)="onDelete(area.id)"  
                    >DELETE</button>
                    <button class="btn btn-primary" 
                    [routerLink]="['/editArea', area.id]">
                    EDIT</button>
                </td>
            </tr>
        </tbody>
    </table>

        <form novalidate #Aform="ngForm" class="text-right padding form-inline" 
          [formGroup]="areaForm" (ngSubmit)="onSubmit()">

            <label class="label">اضافة منطقه جديده:  </label>
            <input type="text" formControlName="name" class="form-control" 
                   placeholder="اسم المنطقه" required >  
            
            <input type="submit" [disabled]="areaForm.invalid" class="btn btn-primary" name="submit" value="اضافة" />

            <p class="errorMsg" 
               *ngIf="areaForm.get('name').hasError('required') 
               && areaForm.get('name').touched">
                 * لابد من املاء اسم المنطقة
            </p>  
        </form>

        <div class="print text-center">
                <a style="color: #fff !important;" class="print-btn btn btn-primary"
                title="print button" onclick="window.print();" target="_blank">
                     طباعة 
                  </a>
            </div>
     </div>
</section>