<section class="home">
    <div class="container">
        <div class="row padding">
            <div class="col-sm-4">
                <div class="item text-center">
                    <h3 class="title">عدد العملاء</h3>
                    <p class="num">40 </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="item text-center">
                    <h3 class="title">عدد المندوبين</h3>
                    <p class="num">30 </p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="item text-center">
                    <h3 class="title">عدد الزيارات اخر 30 يوم </h3>
                    <p class="num">200 </p>
                </div>
            </div>
        </div>
    </div>
</section>