<section class="padding clients">
  <div class="container">
      <h1 class="text-center" style="padding-bottom: 20px;"> خريطة الطريق</h1>
      <div class="row inputSec">
         
          <label for="date" class="col-sm-1 col-3">بدا :</label>
          <input type="date" class="form-control col-sm-2 col-3" 
          [(ngModel)]="start" />
          <label for="date" class="col-sm-1 col-3">انتهاء :</label>
          <input type="date" class="form-control col-sm-2 col-3" 
          [(ngModel)]="end" />
      </div>
      <br>
      <!-- <div class="form-group">
        <label class="col-md-2 text-right" for="usr"> المندوبين:</label>
        <select  [(ngModel)]="employee" class="form-control col-md-10">
            <option *ngFor="let moderator of employees" value="{{moderator.id}}">{{moderator.name}}</option>

        </select>
    </div> -->

    <div class="print text-center">
      <a style="color: #fff !important;" class="print-btn btn btn-primary"
      title="print button" (click)="submit()" target="_blank">
          عرض
        </a>
  </div>
  <br>
        <div class="table-responsive">
            <table class="table">
                <thead class="">
                    <tr>
                       
                        <th style="text-align: center;">اسم الشركة</th>
            
                        <th style="text-align: center;">التاريخ</th>
                        
                        <th style="text-align: center;">الزيارة</th>
                        
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let visit of visits " >
                    
                        <td style="text-align: center;" *ngIf="visit.companies !=null">{{visit.companies.name}}</td>
                        <td style="text-align: center;" *ngIf="visit.companies ==null">لا يوجد اسم</td>
                        <td style="text-align: center;">{{visit.date}}</td>
                       <td style="text-align: center;">تم </td>
                        
                    </tr>

                    <tr *ngFor="let novisits of novisit " >
                       
                        <td style="text-align: center;" *ngIf="novisits.companies !=null">{{novisits.companies.name}}</td>
                        <td style="text-align: center;" *ngIf="novisits.companies ==null">لا يوجد اسم</td>
                
                      <td style="text-align: center;">{{novisits.date}}</td>
                     <td style="text-align: center;">لم يتم</td>
                      
                  </tr>
                </tbody>
            </table>
        </div>

    </div>
</section>